body{
  font-family: pretendard;
}
.wrap{
  max-width: 1280px;
  margin: 0 auto;
}
/* 여백 */
.paddingT50{
  padding-top: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
/* 정렬 */
.flex{
  display: flex;
}
.grid{
  display: grid;
}
.block{
  display: block;
}
.hide{
  display: none;
}
/* 폰트사이즈 */
.h1{
  font-size: 72px;
}
.h2{
  font-size: 68px;
}
.h3{
  font-size: 40px;
}
.h4{
  font-size: 32px;
}
.h5{
  font-size: 28px;
}
.h6{
  font-size: 24px;
}
.bold{
  font-weight: 900;
}
/* 버튼 스타일 */
.btn{
  width: fit-content;
  padding: 20px 120px;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn:hover{
  color: #000 !important;
}
.btn::after{
  content: "";
  display: block;
  width: 0;
  height: 65px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn:hover::after{
  left: 0;
  width: 100%;
}
.fixed{
  position: fixed;
  top: 0;
  z-index: 2;
}
/* 헤더 디자인 */
.whiteH{
  
}
.redH{
  
}