/* 상단 */
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  header div.wrap {
    justify-content: space-between;
    padding-top: 20px;
  }
  header div.wrap h1{  
    margin: 0;
  }
  header div.wrap h1 a{
    font-size: 0;
    background-image: url(../img/logo.png);
    width: 216px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  header div.wrap ul.gnb {
    align-items: center;
    margin-right: -40px;
  }
  header div.wrap ul.gnb li {
  
  }
  header div.wrap ul.gnb li a {
    padding: 10px 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }